$ cat .gitignore
# exclude R data and history files
/Users/markloessi/R_programing/.RData
/Users/markloessi/R_programing/.Rhistory
.RData
.Rhistory
_gsdata_/2019-0413-064158-Mark’s MacBook Air (2)-StudyMaterials_R.log
_gsdata_/2019-0501-183046-Mark’s MacBook Air (2)-StudyMaterials_R.log
_gsdata_/_file_state_v4._gs
_gsdata_/_insync_v4.gsl
R_randomCode/_gsdata_/2019-0501-182901-Mark’s MacBook Air (2)-StudyMaterials_R_randomCode.log
R_randomCode/_gsdata_/_file_state_v4._gs
R_randomCode/_gsdata_/_insync_v4.gsl
.RData
.Rhistory
_gsdata_/2019-0413-064158-Mark’s MacBook Air (2)-StudyMaterials_R.log
_gsdata_/_file_state_v4._gs
_gsdata_/_insync_v4.gsl
*._gs
*.gsl
